<div class="t-container">
  <section class="t-section t-section--left">
    <header class="t-header">
      <ul class="t-header__list">
        <li class="t-list__item">
          <i class="fa-solid fa-house"></i>
          <a href="">Inicio</a>
        </li>

        <li class="t-list__item">
          <i class="fa-solid fa-magnifying-glass"></i>
          <a href="">Buscar</a>
        </li>
      </ul>
    </header>

    <nav class="t-nav">
      <button (click)="peticion()">volver a hacer la peticion</button>
    </nav>
  </section>

  <section class="t-section t-section--rigth">
    <ng-content></ng-content>
  </section>
</div>
