<div class="t-container">
  <section class="t-section t-section--left">
    <header class="t-header">
      <ul class="t-header__list">
        <li class="t-list__item">
          <i></i>
          <a href="">Inicio</a>
        </li>

        <li class="t-list__item">
          <i></i>
          <a href="">Buscar</a>
        </li>
      </ul>
    </header>

    <nav class="t-nav">
      elementos favoritos
    </nav>
  </section>

  <section class="t-section t-section--rigth">
    <ng-content></ng-content>
  </section>
</div>
