<table class="o-table">
  <thead class="o-table__head">
    <tr class="o-head__row">
      <th class="o-row__head">#</th>
      <th class="o-row__head">Título</th>
      <th class="o-row__head o-row__head--time" colspan="2"><i class="fa-regular fa-clock"></i></th>
    </tr>
    <tr>
      <th colspan="4" class="o-row__head o-row__head--border"></th>
    </tr>
  </thead>

  <tbody class="o-table__body">
    <tr
      *ngFor="let track of tracksList$ | async; index as i"
      class="o-body__row"
    >
      <td class="o-row__body">{{ i + 1 }}</td>
      <td class="o-row__body o-row__body--name">
        <p>{{ track.name }}</p>
        <p class="o-row__artist">{{ track.artists[0].name }}</p>
      </td>
      <td class="o-row__body o-row__body--align-right"><i class="fa-solid fa-heart"></i></td>
      <td class="o-row__body o-row__body--align-right">{{ track.duration_ms | millisecondsAMinutes }}</td>
    </tr>
  </tbody>
</table>
